@import "tailwindcss";

@theme {
  --font-display: "Montserrat";

  --color-primary-600: #0086c9;
  --color-primary-500: #00a0e9;

  --color-gray-100: #f2f4f7;
}

body {
  font-family: var(--font-display);
}
